<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USU Department Manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        pre {
            font-size: x-small;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <h1>USU Department Manager</h1>
            <a href="{% url "admin:index" %}">Administrace</a>
            <br /><br />
<code>homeworks.py</code>

<pre><code>
# -*- coding: UTF-8 -*-
from decimal import Decimal
from typing import List, Dict, Any, Optional, Tuple

from anytree import Node, PreOrderIter, RenderTree
from django.core.exceptions import FieldDoesNotExist
from django.db import connection
from django.db.models import CharField, Value, Max, Case, When, F, Sum, OuterRef, Subquery
from django.db.models.functions import Concat
from geopy import Nominatim

from usu_dm.departments.models import Department
from usu_dm.staff.models import Person
</code></pre>

<h6>1.) get_condition</h6>
<pre><code>def get_condition(criteria: List[Dict[str, Any]]) -> str:
    sql_tokens = []
    for c in criteria:
        criteria_sql_tokens = []
        for attr_name, value in c.items():
            try:
                cleaned_value = Person._meta.get_field(attr_name).get_db_prep_value(value, connection)
            except FieldDoesNotExist:
                raise LookupError(f"The column '{attr_name}' does not exist.")
            criteria_sql_tokens.append(f"{attr_name} = '{cleaned_value}'")
        if criteria_sql_tokens:
            sql_tokens.append('({})'.format(' AND '.join(criteria_sql_tokens)))
    return ' OR '.join(sql_tokens)
</code></pre>

<h6>2.) active_persons</h6>
<pre><code>def active_persons(department_name: str, status: str) -> List[str]:
    return list(Person.objects.filter(
        departments__name=department_name, status=status
    ).order_by(
        'lastname', 'firstname'
    ).annotate(
        name=Concat('firstname', Value(' '), 'lastname', output_field=CharField())
    ).values_list('name', flat=True))
</code></pre>

<h6>3.) max_salary</h6>
<pre><code>def max_salary(department_name: str) -> Optional[Decimal]:
    return Person.objects.filter(departments__name=department_name).aggregate(max_salary=Max('salary'))['max_salary']
</code></pre>

<h6>4.) department_tree</h6>
<pre><code>def department_tree() -> List[Node]:
    # TODO There are places for optimizations, e.g. don't make DB queries in loop.
    department_roots = []
    departments = Department.objects.annotate(
        order=Case(
            When(superior=None, then=0),
            default=F('superior_id'))
    ).order_by('order')

    def find_parent_node(name: str) -> Optional[Node]:
        for r in department_roots:
            try:
                n = list(PreOrderIter(r, filter_=lambda n: n.name == name))[0]
            except IndexError:
                continue
            return n

    for department in departments:
        node = Node(department.name)

        superior_department = department.superior
        if superior_department is None:
            department_roots.append(node)
        else:
            parent = find_parent_node(superior_department.name)
            if parent:
                node.parent = parent
            else:
                pass  # FIXME add to queue that will be processed later

    return department_roots
</code></pre>

<h6>5.) department_tree_report</h6>
<pre><code>def department_tree_report() -> str:
    """ Only one department root is supported. """
    for tree in department_tree():
        tree_repr = ''
        for pre, fill, node in RenderTree(tree):
            tree_repr += f'{pre}{node.name}\n'
        return tree_repr
</code></pre>

<h6>6.) leaders_with_salary_totals</h6>
<pre><code>def leaders_with_salary_totals() -> List[Tuple[str, str, Decimal]]:
    salary_totals = Department.objects.filter(
        pk=OuterRef('pk')
    ).annotate(salary_totals=Sum('persons__salary'))

    return list(Department.objects.annotate(
        department_name=F('name'),
        leader_name=Concat('leader__firstname', Value(' '), 'leader__lastname'),
        salary_totals=Subquery(salary_totals.values('salary_totals')[:1]),
    ).values_list('department_name', 'leader_name', 'salary_totals', named=True))
</code></pre>

<h6>7.) leaders_with_salary_totals_report</h6>
<pre><code>def leaders_with_salary_totals_report() -> str:
    return '\n\n'.join(
        [f'Department: {totals[0]}\nLeader: {totals[1]}\nSalary: {totals[2]}'
         for totals
         in leaders_with_salary_totals()]
    )
</code></pre>

<h6>8.) coordinates</h6>
<pre><code>def coordinates(user_agent: str, address: str) -> Tuple[float, float]:
    geo_locator = Nominatim(user_agent=user_agent)
    location = geo_locator.geocode(address)
    return location.latitude, location.longtitude
</code></pre>
        </div>
        <div class="col-xl-2"></div>
    </div>
</div>
</body>
</html>